<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/styles.css" />
    <title>Primer documento</title>
  </head>
  <body>
    <header class="header-section">
     <div class="header-top-bar">
      <div class="logo-search"> 
        <a href="/">        <img
            class="logo"
            src="static/images/logo-mercado-liebre.svg"
            alt="logo"
          /></a>

        <div class="search-bar">
          <input placeholder="buscar productos, marcas" type="text" />
          <i class="fa fa-search"></i>
        </div>
      </div>

      <h2 class="copy-header">
        <i class="fa fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de
        crédito
      </h2>
     </div>

    <a href="#" class="hamburger-button">
        <i class="fa fa-bars burger"></i>
    </a>

      <nav class="header-bottom-bar">
        <ul class="left-nav">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas virtuales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-nav">
            <li><a href="/registro">Crea tu cuenta <i class="fa fa-user-circle"></i></a></li>
            <li><a href="/login">Ingresa <i class="fa fa-sign-in-alt"></i></a> </li>
          <li><a href="#">Mis compras <i class="fa fa-shopping-basket"></i></a></li>
        </ul>
      </nav>
    </header>

    <main class="main-section">
      <section>
        <form action="#" method="POST">
          <div class="first-group">
            <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre"> 
           </div> 
           <div>
            <label for="apellido">Apellido</label>
             <input type="text" name="apellido" id="apellido"> 
           </div>
           <div>
            <label for="nombre-usuario" >Nombre de usuario</label>
             <input type="text" name="nombre-usuario" id="nombre-usuario"> 
           </div>
           <div>
            <label for="birthday">Fecha nacimiento</label>
            <input type="date" id="birthday" name="birthday">
           </div> 
           <div>
            <label for="domicilio" >Domicilio</label>
             <input type="text" name="domicilio" id="domicilio"> 
           </div>
        </div>
           <div>
            <p>Perfil usuario</p>
            <input type="radio" id="comprador" name="perfil" value="comprador">
            <label for="comprador">Comprador</label>
            <input type="radio" id="vendedor" name="perfil" value="vendedor">
            <label for="vendedor">Vendedor</label>
           </div>

           <div class="check-interes">
            <p>Interes</p>

            <input type="checkbox" id="electro" name="electro" value="electro">
            <label for="electro"> Electro</label><br>
            <input type="checkbox" id="moda" name="moda" value="moda">
            <label for="moda"> Moda</label><br>
            <input type="checkbox" id="hogar" name="hogar" value="hogar">
            <label for="hogar"> Hogar</label><br>
            <input type="checkbox" id="jugueteria" name="jugueteria" value="jugueteria">
            <label for="jugueteria"> Juguetería</label><br>
            <input type="checkbox" id="vida" name="vida" value="vida">
            <label for="vida"> Vida sana</label><br>
           </div>

        <div class="third-group">
            <div>
                <label for="myfile">Foto de usuario</label>
                <input type="file" id="myfile" name="myfile" >
               </div>
           
            <div>
            <label for="pass1">Contrasena</label>
            <input type="password" name="pass1" id="pass1">
           </div>
           
           <div>
            <label for="pass2">Repetir contrasena</label>
            <input type="password" name="pass2" id="pass2">
           </div>
        </div>
           <div class="buttons">
           
                <button class="btn" type="submit">Enviar</button>
                <button class="btn" type="reset">Borrar</button>
            
          </div>

        </form>
      </section>
    </main>

    <br />

    <footer>
      <section class="footer-section">
        <div class="footer-texts">
        <article class="footer-article">
          <i class="fa fa-credit-card footer-i"></i>
        
            <h2>Pagá con tarjeta o en efectivo</h2>
     
          <p class="texto">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
        <article class="footer-article">
          <i class="fa fa-gift footer-i"></i>
        
            <h2>Envío gratis desde $ 2.500</h2>
         
          <p class="texto">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>
        <article class="footer-article">
          <i class="fas fa-user-shield footer-i"></i>
        
            <h2>Seguridad, de principio a fin</h2>
      
          <p class="texto">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>
    </div>
        <article class="copyright">

            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   
        </article>
      </section>
    </footer>
  </body>
</html>
