*{

    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
 margin: 0px;
 padding: 0px;
}


.header-section{
    background-color: #EAC926;
    width: 100%;
    padding: 20px;
}

.logo-search{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 200px;
    flex-grow: 1;
}

.copy-header{
    font-weight: 400;
    text-align: center;
}

.search-bar{
    flex-grow: 1;
    align-self: center;
    width: 30%;
}

.hamburger-button{
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    margin: auto;
}

.header-bottom-bar{
    display: none;
}

.header-bottom-bar ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.header-bottom-bar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
   
}


.main-section{
    width: 90%;
    text-align: center;
    background-color: #ebebeb;
    margin: auto;
}

.articulo{
    margin-top: 10px;
}

.logo-item{
    width: 400px;
  
}

.box{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: #ffffff;
    width: 400px;
    margin: auto;
    text-align: left;
    position: relative;
}

.box i{
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    border: solid 1px #39b54a;
    border-radius: 50%;
    right: 20px; 
     top: -15px;

}

.box .descuento{
    color: #39b54a;
    margin-bottom: 30px;
}


.footer-section{
    width: 100%;
    padding: 20px;
    text-align: center;
}



.footer-section i {
    font-size: 2em;
    color:#1259c3;
}

.footer-section i:hover {
    color: #EAC926;
}

.login .btn:hover {
     background-color: #0022AA; 
   
}

.footer-article{
    margin-bottom: 50px;
    padding: 0 15px;
    width: 70%;
    margin: auto;
}

.copyright{
    text-align: left;
    font-size: 12px;
}

.input-login{
    border-radius: 5px;
    width: 20%;
    height: 20px;
    border: none;
    margin-bottom: 10px;
}

.first-group input{
    margin-top: 15px;
}

.check-interes{
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-registro, .first-group input, .third-group input{
    border-radius: 5px;
    width: 20%;
    height: 20px;
    border: none;
    margin-bottom: 10px;
}

.search-bar input{
    border-radius: 5px;
    height: 20px;
    border: none;
}

.buttons{
    
}

.login{
    padding: 10px;
}

.btn {
    background-color: #1259c3;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
  }

/* Tablets */
@media(min-width:768px){
  


    .header-top-bar{
       
        display:flex;
        justify-content: space-between;
    }

    .copy-header{
        max-width: 350px;
        text-align: right;
    }

    .hamburger-button{
        display: none;
    }

    .header-bottom-bar{
        /* border: dotted 2px red; */
        display: flex;
        justify-content: space-between;
    }

    .header-bottom-bar ul{
        display: flex;
      
    }

    .header-bottom-bar li{
        margin: 0 5px;
    }
 
    .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        

    }

    .articulos{
        display: flex;
        justify-content: space-between;
        /* flex-direction: row; */
        flex-wrap: wrap;
    }
}




/* Large screen */
@media(min-width:1200px){
    .header-top-bar, .header-bottom-bar{
       max-width: 1200px;
       margin: auto;
       /* border: dotted 2px red; */
    }

    .header-top-bar{
        align-items: center;
    }

    .header-bottom-bar{
        margin-top: 20px;
    }

    .header-bottom-bar li{
        margin: 0 10px;
    }
  
    .header-bottom-bar a{
       font-size: 19px;
    }
 
    .copy-header{
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }

    .logo{
        width: 250px;
    }

    .articulos{
        display: flex;
        justify-content: space-between;
         flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-texts{
        display: flex;
        flex-direction: row;
       
    }

    .box .descripcion  {
        opacity: 0;
    }
    .box .descripcion:hover {
        opacity: 1;
    }

}